In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [6]:
df = tibble(row=c(LETTERS[seq(6)],rep("NA", 2)), column1 = seq(8,15), column2 = seq(24,31))
df

  row column1 column2
1 A    8      24
2 B    9      25
3 C   10      26
4 D   11      27
5 E   12      28
6 F   13      29
7 NA  14      30
8 NA  15      31

In [7]:
df %>% filter(row!="NA")

  row column1 column2
1 A    8      24
2 B    9      25
3 C   10      26
4 D   11      27
5 E   12      28
6 F   13      29

In [9]:
"NA" %in% df$row

[1] TRUE

In [26]:
df %>% group_by(row) %>% count() %>% filter(row == "NA") %>% pull() %>% as.numeric()

[1] 2

In [45]:
rdf = data.frame(ref_clone=paste0("ref_clone_", rep(LETTERS[seq(2)],each =2), rep(seq(2),2)), 
                ref_value=rep(c("27-35", "10.1"), 2))
rdf <- rbind(rdf, c("ref_clone_E1","NA"))
rdf <- rbind(rdf, c("ref_clone_F1","NA"))
rdf

  ref_clone    ref_value
1 ref_clone_A1 27-35
2 ref_clone_A2 10.1
3 ref_clone_B1 27-35
4 ref_clone_B2 10.1
5 ref_clone_E1 NA
6 ref_clone_F1 NA

In [46]:
rdf[grepl("1", rdf$ref_clone), ]$ref_value

[1] "27-35" "27-35" "NA"    "NA"

In [50]:
c(seq(14,20), sapply(seq(14,20), function(x) {x+24}))

 [1] 14 15 16 17 18 19 20 38 39 40 41 42 43 44